<h2>You have chosen the following celebrity: </h2>

{{#with celebrity}}

<h3>the name is: <i>{{name}}</i></h3>
<h3>the occupation is: <i>{{occupation}}</i></h3>
<h3>what he says? <i>"{{catchPhrase}}"</i></h3>
<br>
<ul>


<li><a href="/celebrities/edit/{{_id}}">Make the star evolve</a></li>


<li><a href="/celebrities/delete/{{_id}}">Remove this hero</a></li>
{{/with}}

<li><a href="/celebrities">Gå hjem</a></li></ul>
<footer><br><br><br><br><br>you're on the page show.hbs</footer>